:root {
  --mobile: 320px;
  --tablet: 768px;
  --desktop: 1280px;

  --primary-text-color: #000000;
  --headerHoverColor: #a1a1a2;
  --secondaryColor: #ffffff;
  --mainAccentColor: #ff6b08;
  --secondaryAccentColor: #ff001b;
  --btnAccentColor: #ff6b01;

  --lightThemebackgroundColor: #e5e5e5;
  --darkThemebackgroundColor: #121213f7;
}

$headerGradient: linear-gradient(
  to right,
  rgba(0, 0, 0, 0.56),
  rgba(0, 0, 0, 0.56)
);
