:root {
  --mobile: 320px;
  --tablet: 768px;
  --desktop: 1280px;

  --primary-text-color: #000000;
  --headerHoverColor: #a1a1a2;
  --secondaryColor: #ffffff;
  --mainAccentColor: #ff6b08;
  --secondaryAccentColor: #ff001b;
  --btnAccentColor: #ff6b01;
  --modalInfoText: #8c8c8c;
  --lightThemebackgroundColor: #e5e5e5;
  --lighThemElementColor: #e7e7e7;
  --darkThemebackgroundColor: #121213f7;
  --timing-function: 300ms cubic-bezier(0.4, 0, 0.2, 1);
  --box-shadow-scroll-up-btn: 13px 13px 21px -1px rgba(0,0,0,0.58);
  -webkit-box-shadow: 13px 13px 21px -1px rgba(0,0,0,0.58);
  -moz-box-shadow: 13px 13px 21px -1px rgba(0,0,0,0.58);
}

$headerGradient: linear-gradient(
  to right,
  rgba(0, 0, 0, 0.56),
  rgba(0, 0, 0, 0.56)
);
