<div data-modal class="modal-students">
    <div class="modal-students-box">
        <h2>Наша команда</h2>
        <ul class="modal-students-list">
            <li class="modal-students-item">
                <div class="modal-students-container">
                    <img src="/src/images/Team/SvetlanaLytvyn.jpg" alt="" class="modal-student-img">
                    <h3 class="modal-student-name">Svetlana Lytvyn</h3>
                    <p>Team Lead</p>
                    <a href="mailto:0trava0910@gmail.com" class="modal-students-link">Mail</a>
                    <a href="https://github.com/0trava" class="modal-students-link">GitHub</a>
                    <a href="https://www.linkedin.com/in/svetlanalytvyn/?locale=en_US" class="modal-students-link">LinkedIn</a>
                </div>
            </li>
            <li class="modal-students-item">
                <div class="modal-students-container">
                    <img src="/src/images/Team/TetianaOkhrymenko.jpg" alt="" class="modal-student-img">
                    <h3 class="modal-student-name">Tetiana Okhrymenko</h3>
                    <p>Scrum Master</p>
                    <a href="mailto:taniusha.mashtalir@gmail.com" class="modal-students-link">Mail</a>
                    <a href="https://github.com/Tetiana1409" class="modal-students-link">GitHub</a>
                    <a href="https://www.linkedin.com/in/tetiana-okhrymenko-726ab2269/" class="modal-students-link">LinkedIn</a>
                </div>
            </li>
            <li class="modal-students-item">
                <div class="modal-students-container">
                    <img src="/src/images/Team/OlhaLushina.jpg" alt="" class="modal-student-img">
                    <h3 class="modal-student-name">Olha Lushina</h3>
                    <p>Developer</p>
                    <a href="mailto:olga.lushina.ua@gmail.com" class="modal-students-link">Mail</a>
                    <a href="https://github.com/OlhaLushina" class="modal-students-link">GitHub</a>
                    <a href="" class="modal-students-link">LinkedIn</a>
                </div>
            </li>
            <li class="modal-students-item">
                <div class="modal-students-container">
                    <img src="/src/images/Team/OleksiiPanaioti.jpg" alt="" class="modal-student-img">
                    <h3 class="modal-student-name">Oleksii Panaioti</h3>
                    <p>Developer</p>
                    <a href="mailto:cavedzgn@gmail.com" class="modal-students-link">Mail</a>
                    <a href="https://github.com/OleksiiPanaioti" class="modal-students-link">GitHub</a>
                    <a href="https://www.linkedin.com/in/oleksii-panaioti-82642526b/" class="modal-students-link">LinkedIn</a>
                </div>
            </li>
            <li class="modal-students-item">
                <div class="modal-students-container">
                    <img src="/src/images/Team/OlenaHarkusha.jpg" alt="" class="modal-student-img">
                    <h3 class="modal-student-name">Olena Harkusha</h3>
                    <p>Developer</p>
                    <a href="mailto:loadraw@gmail.com" class="modal-students-link">Mail</a>
                    <a href="https://github.com/OlenaHarkusha" class="modal-students-link">GitHub</a>
                    <a href="https://www.linkedin.com/in/olena-harkusha-8b2280230" class="modal-students-link">LinkedIn</a>
                </div>
            </li>
            <li class="modal-students-item">
                <div class="modal-students-container">
                    <img src="/src/images/Team/AblieievaAnastasiia.jpg" alt="" class="modal-student-img">
                    <h3 class="modal-student-name">Anastasiia Ablieieva</h3>
                    <p>Developer</p>
                    <a href="mailto:ablieieva@gmail.com" class="modal-students-link">Mail</a>
                    <a href="https://github.com/Anastasiia-Ablieieva" class="modal-students-link">GitHub</a>
                    <a href="" class="modal-students-link">LinkedIn</a>
                </div>
            </li>
            <li class="modal-students-item">
                <div class="modal-students-container">
                    <img src="/src/images/Team/AlexanderZabara.jpg" alt="" class="modal-student-img">
                    <h3 class="modal-student-name">Oleksandr Zabara</h3>
                    <p>Developer</p>
                    <a href="mailto:oleksandr.zabaraa@gmail.com" class="modal-students-link">Mail</a>
                    <a href="https://github.com/Zabaraaa" class="modal-students-link">GitHub</a>
                    <a href="https://www.linkedin.com/in/oleksandr-zabara-208516270" class="modal-students-link">LinkedIn</a>
                </div>
            </li>
            <li class="modal-students-item">
                <div class="modal-students-container">
                    <img src="/src/images/Team/OlenaShramko1.jpg" alt="" class="modal-student-img">
                    <h3 class="modal-student-name">Olena Shramko</h3>
                    <p>Developer</p>
                    <a href="mailto:shramko.olenaa@gmail.com" class="modal-students-link">Mail</a>
                    <a href="https://github.com/alionash" class="modal-students-link">GitHub</a>
                    <a href="https://www.linkedin.com/in/olena-shramko-146516270/" class="modal-students-link">LinkedIn</a>
                </div>
            </li>
            <li class="modal-students-item">
                <div class="modal-students-container">
                    <img src="/src/images/Team/YelyzavetaRiabokon.jpg" alt="" class="modal-student-img">
                    <h3 class="modal-student-name">Yelyzaveta Riabokon</h3>
                    <p>Developer</p>
                    <a href="mailto:lisa.checheleva@gmail.com" class="modal-students-link">Mail</a>
                    <a href="https://github.com/lisa-riabokon" class="modal-students-link">GitHub</a>
                    <a href="https://www.linkedin.com/in/yelyzaveta-riabokon-815059270/" class="modal-students-link">LinkedIn</a>
                </div>
            </li>
            <li class="modal-students-item">
                <div class="modal-students-container">
                    <img src="/src/images/Team/KuzmenkoMykhailo.jpg" alt="" class="modal-student-img">
                    <h3 class="modal-student-name">Mykhailo Kuzmenko</h3>
                    <p>Developer</p>
                    <a href="mailto:mushko2932@gmail.com" class="modal-students-link">Mail</a>
                    <a href="https://github.com/Mushko2932" class="modal-students-link">GitHub</a>
                    <a href="http://linkedin.com/in/михайло-кузьменко-333007264" class="modal-students-link">LinkedIn</a>
                </div>
            </li>
            <li class="modal-students-item">
                <div class="modal-students-container">
                    <img src="/src/images/Team/OlegArtemenko.jpg" alt="" class="modal-student-img">
                    <h3 class="modal-student-name">Oleg Artemenko</h3>
                    <p>Developer</p>
                    <a href="mailto:art777oleg@gmail.com" class="modal-students-link">Mail</a>
                    <a href="https://github.com/OlegArt1" class="modal-students-link">GitHub</a>
                    <a href="" class="modal-students-link">LinkedIn</a>
                </div>
            </li>
            <li class="modal-students-item">
                <div class="modal-students-container">
                    <img src="/src/images/Team/AnatoliyKoniev.jpg" alt="" class="modal-student-img">
                    <h3 class="modal-student-name">Anatoliy Koniev</h3>
                    <p>Developer</p>
                    <a href="mailto:konievanatol@gmail.com" class="modal-students-link">Mail</a>
                    <a href="https://github.com/Demag0g1" class="modal-students-link">GitHub</a>
                    <a href="https://www.linkedin.com/in/%D0%B0%D0%BD%D0%B0%D1%82%D0%BE%D0%BB%D0%B8%D0%B9-%D0%BA%D0%BE%D0%BD%D0%B5%D0%B2-326151196/" class="modal-students-link">LinkedIn</a>
                </div>
            </li>
            <li class="modal-students-item">
                <div class="modal-students-container">
                    <img src="/src/images/Team/avatar.jpg" alt="" class="modal-student-img">
                    <h3 class="modal-student-name">Dmutro Tuschenko</h3>
                    <p>Developer</p>
                    <a href="mailto:https://github.com/T-Dmutro" class="modal-students-link">Mail</a>
                    <a href="https://tuschenko.dmutro@gmail.com" class="modal-students-link">GitHub</a>
                    <a href="" class="modal-students-link">LinkedIn</a>
                </div>
            </li>
        </ul>
        <button data-modal-close class="modal-students-close-btn" type="button">X</button>
    </div>
</div>