<div class="modal-students is-hidden" team-modal>
    <div class="modal-students-box">
        <h2 class="modal-students-title">Meet our team</h2>
        <ul class="modal-students-list">
            <li class="modal-students-item">
                <div class="modal-students-container">
                    <img src="/src/images/Team/SvetlanaLytvyn.jpg" alt="" class="modal-student-img">
                    <h3 class="modal-student-name">Svetlana Lytvyn</h3>
                    <p class="modal-student-occupation">Team Lead</p>
                    <ul class="modal-student-soc-list">
                        <li class="modal-student-soc-item">
                            <a class="modal-student-soc-link" href="mailto:0trava0910@gmail.com">
                                <svg class="modal-student-soc-icon" width="20" height="20">
                                    <use href="/src/images/symbol-defs.svg#icon-envelop"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="modal-student-soc-item">
                            <a class="modal-student-soc-link" href="https://github.com/0trava">
                                <svg class="modal-student-soc-icon" width="20" height="20">
                                    <use href="/src/images/symbol-defs.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="modal-student-soc-item">
                            <a class="modal-student-soc-link" href="https://www.linkedin.com/in/svetlanalytvyn/?locale=en_US">
                                <svg class="modal-student-soc-icon" width="20" height="20">
                                    <use href="/src/images/symbol-defs.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                        </ul>
                </div>
            </li>
            <li class="modal-students-item">
                <div class="modal-students-container">
                    <img src="/src/images/Team/TetianaOkhrymenko.jpg" alt="" class="modal-student-img">
                    <h3 class="modal-student-name">Tetiana Okhrymenko</h3>
                    <p class="modal-student-occupation">Scrum Master</p>
                        <ul class="modal-student-soc-list">
                            <li class="modal-student-soc-item">
                                <a class="modal-student-soc-link" href="mailto:taniusha.mashtalir@gmail.com">
                                    <svg class="modal-student-soc-icon" width="20" height="20">
                                        <use href="/src/images/symbol-defs.svg#icon-envelop"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="modal-student-soc-item">
                                <a class="modal-student-soc-link" href="https://github.com/Tetiana1409">
                                    <svg class="modal-student-soc-icon" width="20" height="20">
                                        <use href="/src/images/symbol-defs.svg#icon-github"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="modal-student-soc-item">
                                <a class="modal-student-soc-link" href="https://www.linkedin.com/in/tetiana-okhrymenko-726ab2269/">
                                    <svg class="modal-student-soc-icon" width="20" height="20">
                                        <use href="/src/images/symbol-defs.svg#icon-linkedin"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                </div>
            </li>
            <li class="modal-students-item">
                <div class="modal-students-container">
                    <img src="/src/images/Team/OlhaLushina.jpg" alt="" class="modal-student-img">
                    <h3 class="modal-student-name">Olha Lushina</h3>
                    <p class="modal-student-occupation">Developer</p>
                    <ul class="modal-student-soc-list">
                        <li class="modal-student-soc-item">
                            <a class="modal-student-soc-link" href="mailto:olga.lushina.ua@gmail.com">
                                <svg class="modal-student-soc-icon" width="20" height="20">
                                    <use href="/src/images/symbol-defs.svg#icon-envelop"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="modal-student-soc-item">
                            <a class="modal-student-soc-link" href="https://github.com/OlhaLushina">
                                <svg class="modal-student-soc-icon" width="20" height="20">
                                    <use href="/src/images/symbol-defs.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="modal-student-soc-item">
                            <a class="modal-student-soc-link" href="">
                                <svg class="modal-student-soc-icon" width="20" height="20">
                                    <use href="/src/images/symbol-defs.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="modal-students-item">
                <div class="modal-students-container">
                    <img src="/src/images/Team/OleksiiPanaioti.jpg" alt="" class="modal-student-img">
                    <h3 class="modal-student-name">Oleksii Panaioti</h3>
                    <p class="modal-student-occupation">Developer</p>
                    <ul class="modal-student-soc-list">
                        <li class="modal-student-soc-item">
                            <a class="modal-student-soc-link" href="mailto:cavedzgn@gmail.com">
                                <svg class="modal-student-soc-icon" width="20" height="20">
                                    <use href="/src/images/symbol-defs.svg#icon-envelop"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="modal-student-soc-item">
                            <a class="modal-student-soc-link" href="https://github.com/OleksiiPanaioti">
                                <svg class="modal-student-soc-icon" width="20" height="20">
                                    <use href="/src/images/symbol-defs.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="modal-student-soc-item">
                            <a class="modal-student-soc-link" href="https://www.linkedin.com/in/oleksii-panaioti-82642526b/">
                                <svg class="modal-student-soc-icon" width="20" height="20">
                                    <use href="/src/images/symbol-defs.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="modal-students-item">
                <div class="modal-students-container">
                    <img src="/src/images/Team/OlenaHarkusha.jpg" alt="" class="modal-student-img">
                    <h3 class="modal-student-name">Olena Harkusha</h3>
                    <p class="modal-student-occupation">Developer</p>
                    <ul class="modal-student-soc-list">
                        <li class="modal-student-soc-item">
                            <a class="modal-student-soc-link" href="mailto:loadraw@gmail.com">
                                <svg class="modal-student-soc-icon" width="20" height="20">
                                    <use href="/src/images/symbol-defs.svg#icon-envelop"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="modal-student-soc-item">
                            <a class="modal-student-soc-link" href=https://github.com/OlenaHarkusha"">
                                <svg class="modal-student-soc-icon" width="20" height="20">
                                    <use href="/src/images/symbol-defs.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="modal-student-soc-item">
                            <a class="modal-student-soc-link" href="https://www.linkedin.com/in/olena-harkusha-8b2280230">
                                <svg class="modal-student-soc-icon" width="20" height="20">
                                    <use href="/src/images/symbol-defs.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="modal-students-item">
                <div class="modal-students-container">
                    <img src="/src/images/Team/AblieievaAnastasiia.jpg" alt="" class="modal-student-img">
                    <h3 class="modal-student-name">Anastasiia Ablieieva</h3>
                    <p class="modal-student-occupation">Developer</p>
                    <ul class="modal-student-soc-list">
                        <li class="modal-student-soc-item">
                            <a class="modal-student-soc-link" href="mailto:ablieieva@gmail.com">
                                <svg class="modal-student-soc-icon" width="20" height="20">
                                    <use href="/src/images/symbol-defs.svg#icon-envelop"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="modal-student-soc-item">
                            <a class="modal-student-soc-link" href="https://github.com/Anastasiia-Ablieieva">
                                <svg class="modal-student-soc-icon" width="20" height="20">
                                    <use href="/src/images/symbol-defs.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="modal-student-soc-item">
                            <a class="modal-student-soc-link" href="">
                                <svg class="modal-student-soc-icon" width="20" height="20">
                                    <use href="/src/images/symbol-defs.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="modal-students-item">
                <div class="modal-students-container">
                    <img src="/src/images/Team/AlexanderZabara.jpg" alt="" class="modal-student-img">
                    <h3 class="modal-student-name">Oleksandr Zabara</h3>
                    <p class="modal-student-occupation">Developer</p>
                    <ul class="modal-student-soc-list">
                        <li class="modal-student-soc-item">
                            <a class="modal-student-soc-link" href="mailto:oleksandr.zabaraa@gmail.com">
                                <svg class="modal-student-soc-icon" width="20" height="20">
                                    <use href="/src/images/symbol-defs.svg#icon-envelop"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="modal-student-soc-item">
                            <a class="modal-student-soc-link" href="https://github.com/Zabaraaa">
                                <svg class="modal-student-soc-icon" width="20" height="20">
                                    <use href="/src/images/symbol-defs.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="modal-student-soc-item">
                            <a class="modal-student-soc-link" href="https://www.linkedin.com/in/oleksandr-zabara-208516270">
                                <svg class="modal-student-soc-icon" width="20" height="20">
                                    <use href="/src/images/symbol-defs.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="modal-students-item">
                <div class="modal-students-container">
                    <img src="/src/images/Team/OlenaShramko1.jpg" alt="" class="modal-student-img">
                    <h3 class="modal-student-name">Olena Shramko</h3>
                    <p class="modal-student-occupation">Developer</p>
                    <ul class="modal-student-soc-list">
                        <li class="modal-student-soc-item">
                            <a class="modal-student-soc-link" href="mailto:shramko.olenaa@gmail.com">
                                <svg class="modal-student-soc-icon" width="20" height="20">
                                    <use href="/src/images/symbol-defs.svg#icon-envelop"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="modal-student-soc-item">
                            <a class="modal-student-soc-link" href="https://github.com/alionash">
                                <svg class="modal-student-soc-icon" width="20" height="20">
                                    <use href="/src/images/symbol-defs.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="modal-student-soc-item">
                            <a class="modal-student-soc-link" href="https://www.linkedin.com/in/olena-shramko-146516270/">
                                <svg class="modal-student-soc-icon" width="20" height="20">
                                    <use href="/src/images/symbol-defs.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="modal-students-item">
                <div class="modal-students-container">
                    <img src="/src/images/Team/YelyzavetaRiabokon.jpg" alt="" class="modal-student-img">
                    <h3 class="modal-student-name">Yelyzaveta Riabokon</h3>
                    <p class="modal-student-occupation">Developer</p>
                    <ul class="modal-student-soc-list">
                        <li class="modal-student-soc-item">
                            <a class="modal-student-soc-link" href="mailto:lisa.checheleva@gmail.com">
                                <svg class="modal-student-soc-icon" width="20" height="20">
                                    <use href="/src/images/symbol-defs.svg#icon-envelop"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="modal-student-soc-item">
                            <a class="modal-student-soc-link" href="https://github.com/lisa-riabokon">
                                <svg class="modal-student-soc-icon" width="20" height="20">
                                    <use href="/src/images/symbol-defs.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="modal-student-soc-item">
                            <a class="modal-student-soc-link" href="https://www.linkedin.com/in/yelyzaveta-riabokon-815059270/">
                                <svg class="modal-student-soc-icon" width="20" height="20">
                                    <use href="/src/images/symbol-defs.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="modal-students-item">
                <div class="modal-students-container">
                    <img src="/src/images/Team/KuzmenkoMykhailo.jpg" alt="" class="modal-student-img">
                    <h3 class="modal-student-name">Mykhailo Kuzmenko</h3>
                    <p class="modal-student-occupation">Developer</p>
                    <ul class="modal-student-soc-list">
                        <li class="modal-student-soc-item">
                            <a class="modal-student-soc-link" href="mailto:mushko2932@gmail.com">
                                <svg class="modal-student-soc-icon" width="20" height="20">
                                    <use href="/src/images/symbol-defs.svg#icon-envelop"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="modal-student-soc-item">
                            <a class="modal-student-soc-link" href="https://github.com/Mushko2932">
                                <svg class="modal-student-soc-icon" width="20" height="20">
                                    <use href="/src/images/symbol-defs.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="modal-student-soc-item">
                            <a class="modal-student-soc-link" href="http://linkedin.com/in/михайло-кузьменко-333007264">
                                <svg class="modal-student-soc-icon" width="20" height="20">
                                    <use href="/src/images/symbol-defs.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="modal-students-item">
                <div class="modal-students-container">
                    <img src="/src/images/Team/OlegArtemenko.jpg" alt="" class="modal-student-img">
                    <h3 class="modal-student-name">Oleg Artemenko</h3>
                    <p class="modal-student-occupation">Developer</p>
                    <ul class="modal-student-soc-list">
                        <li class="modal-student-soc-item">
                            <a class="modal-student-soc-link" href="mailto:art777oleg@gmail.com">
                                <svg class="modal-student-soc-icon" width="20" height="20">
                                    <use href="/src/images/symbol-defs.svg#icon-envelop"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="modal-student-soc-item">
                            <a class="modal-student-soc-link" href="https://github.com/OlegArt1">
                                <svg class="modal-student-soc-icon" width="20" height="20">
                                    <use href="/src/images/symbol-defs.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="modal-student-soc-item">
                            <a class="modal-student-soc-link" href="">
                                <svg class="modal-student-soc-icon" width="20" height="20">
                                    <use href="/src/images/symbol-defs.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="modal-students-item">
                <div class="modal-students-container">
                    <img src="/src/images/Team/AnatoliyKoniev.jpg" alt="" class="modal-student-img">
                    <h3 class="modal-student-name">Anatoliy Koniev</h3>
                    <p class="modal-student-occupation">Developer</p>
                    <ul class="modal-student-soc-list">
                        <li class="modal-student-soc-item">
                            <a class="modal-student-soc-link" href="mailto:konievanatol@gmail.com">
                                <svg class="modal-student-soc-icon" width="20" height="20">
                                    <use href="/src/images/symbol-defs.svg#icon-envelop"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="modal-student-soc-item">
                            <a class="modal-student-soc-link" href="https://github.com/Demag0g1">
                                <svg class="tmodal-student-oc-icon" width="20" height="20">
                                    <use href="/src/images/symbol-defs.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="modal-student-soc-item">
                            <a class="modal-student-soc-link" href="https://www.linkedin.com/in/%D0%B0%D0%BD%D0%B0%D1%82%D0%BE%D0%BB%D0%B8%D0%B9-%D0%BA%D0%BE%D0%BD%D0%B5%D0%B2-326151196/">
                                <svg class="modal-student-soc-icon" width="20" height="20">
                                    <use href="/src/images/symbol-defs.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="modal-students-item">
                <div class="modal-students-container">
                    <img src="/src/images/Team/DmutroTuschenko.jpg" alt="" class="modal-student-img">
                    <h3 class="modal-student-name">Dmutro Tuschenko</h3>
                    <p class="modal-student-occupation">Developer</p>
                    <ul class="modal-student-soc-list">
                        <li class="modal-student-soc-item">
                            <a class="modal-student-soc-link" href="mailto:tuschenko.dmutro@gmail.com"">
                                <svg class="modal-student-soc-icon" width="20" height="20">
                                    <use href="/src/images/symbol-defs.svg#icon-envelop"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="modal-student-soc-item">
                            <a class="modal-student-soc-link" href="https://github.com/T-Dmutro">
                                <svg class="tmodal-student-oc-icon" width="20" height="20">
                                    <use href="/src/images/symbol-defs.svg#icon-github"></use>
                                </svg>
                            </a>
                        </li>
                        <li class="modal-student-soc-item">
                            <a class="modal-student-soc-link" href="">
                                <svg class="modal-student-soc-icon" width="20" height="20">
                                    <use href="/src/images/symbol-defs.svg#icon-linkedin"></use>
                                </svg>
                            </a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
        <!-- <button data-modal-close class="modal-students-close-btn" type="button">X</button> -->
                    <button class="modal-students-close-btn"  team-modal-close></button>
    </div>
</div>
