.library-btn {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(16 / 12);

  align-items: center;
  text-align: center;
  text-transform: uppercase;
  background-color: transparent;
  width: 130px;
  height: 44px;

  border: 1px solid var(--secondaryColor);
  border-radius: 5px;

  color: var(--secondaryColor);

  transition: color var(--timing-function),
    background var(--timing-function);

  @include mq(tablet) {
    width: 152px;
  }

  @include mq(tablet) {
    width: 147px;
    height: 42px;
  }

  &:hover,
  &:focus {
    background-color: var(--btnAccentColor);
    border-color: var(--btnAccentColor);
    box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
  }
}

.library-btn.active {
  background-color: var(--btnAccentColor);
  border-color: var(--btnAccentColor);
  box-shadow: 0px 8px 43px rgba(255, 107, 1, 0.6);
  transition: background-color var(--timing-function),
    box-shadow var(--timing-function),
    border-color var(--timing-function);
}
