.tui-pagination.goit-pagination {
  display: flex;
  justify-content: center;
  gap: 16px;
  margin-top: 5px;
  margin-bottom: 5px;
  align-items: center;
}

.tui-pagination.goit-pagination .tui-page-btn {
  padding: 0;
  margin: 0;
  border: none;

  font-family: 'Roboto';
  font-weight: 500;
  font-size: 12px;
  line-height: 16px;

  color: var(--primary-text-color);
}

.tui-pagination.goit-pagination .tui-page-btn:hover,
.tui-pagination.goit-pagination .tui-page-btn:focus {
  background: none;
}

.tui-pagination.goit-pagination .tui-page-btn.tui-is-selected {
  width: 40px;
  height: 40px;
  padding: 13px;

  color: var(--secondaryColor);
  background: var(--mainAccentColor);
  border-radius: 5px;
  border-color: var(--mainAccentColor);
}

.tui-pagination.goit-pagination .tui-prev,
.tui-pagination.goit-pagination .tui-prev:hover,
.tui-pagination.goit-pagination .tui-prev:focus,
.tui-pagination.goit-pagination .tui-next,
.tui-pagination.goit-pagination .tui-next:hover,
.tui-pagination.goit-pagination .tui-next:focus {
  width: 40px;
  height: 40px;
  padding: 13px 20px 13px 7px;

  background: var(--footerColor);
  border-radius: 5px;

  @include mq(tablet) {
    padding: 13px;
  }
}

.tui-pagination.goit-pagination .tui-ico-prev,
.tui-pagination.goit-pagination .tui-ico-next {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  width: 16px;
  height: 16px;
}

.tui-pagination.goit-pagination .tui-ico-prev {
  background-image: url('../images/arrow-left.svg');
}

.tui-pagination.goit-pagination .tui-ico-next {
  background-image: url('../images/arrow-right.svg');
}

.tui-pagination.goit-pagination .tui-is-disabled .tui-ico-prev,
.tui-pagination.goit-pagination .tui-is-disabled .tui-ico-next {
  background-position: center;
}

.tui-pagination.goit-pagination .tui-ico-first,
.tui-pagination.goit-pagination .tui-ico-last {
  display: none;
}

.tui-ico-prev,
.tui-ico-next {
  color: transparent;
}
