.toggle-switch {
  --dark-invers: #e5e5e5;
  --light-invers: #121213f7;
}

.switch-label {
  background-color: var(--light-invers);
  border: 1px solid #920e0e;
}

.checkbox:checked ~ .slider {
  background-color: var(--dark-invers);
}

.slider::before {
  -webkit-box-shadow: inset 12px -4px 0px 0px var(--dark-invers);
  box-shadow: inset 12px -4px 0px 0px var(--dark-invers);
  background-color: var(--light-invers);
}

.checkbox:checked ~ .slider::before {
  background-color: var(--light-invers);
}

@media screen and (prefers-color-scheme: dark) {
  body {
    background: #28292c;
    color: #ffffff;
  }
}
