.toggle-switch {
  --light: #e5e5e5;
  --dark: #121213f7;
  --link: rgb(27, 129, 112);
  --link-hover: rgb(24, 94, 82);
}

.switch-label {
  background-color: var(--dark);
  border: 3px solid var(--dark);
}

.checkbox:checked ~ .slider {
  background-color: var(--light);
}

.slider::before {
  -webkit-box-shadow: inset 12px -4px 0px 0px var(--light);
  box-shadow: inset 12px -4px 0px 0px var(--light);
  background-color: var(--dark);
}

.checkbox:checked ~ .slider::before {
  background-color: var(--dark);
}
