.light-theme {
  background-color: var(--secondaryColor);
  color: var(--light-invers);
  .modal {
    background-color: var(--secondaryColor);
  }
}

.dark-theme {
  background-color: var(--darkThemColor);
  color: var(--secondaryColor);
  .library-text,
  .movie-card__name {
    color: var(--secondaryColor);
  }
  .tui-pagination.goit-pagination .tui-page-btn,
  .tui-ico-ellip {
    color: var(--secondaryColor);
  }

  .modal {
    background-color: var(--darkThemColor);
  }
}

.grey-background-theme {
  background-color: var(--darkThemColor);
  box-shadow: 0 0 15px #444444;

  .home-footer {
    background-color: var(--darkThemColor);
    box-shadow: 0 0 15px #444444;
  }

  .home-footer__text,
  .home-footer-reference {
    color: var(--secondaryColor);
  }

  .home-footer__icon {
    color: var(--mainAccentColor);
  }
  .body,
  .modal {
    background-color: var(--darkThemColor);
  }
  .modal__title {
    color: var(--mainAccentColor);
  }
  .modal__info-entry,
  .modal__info-value,
  .modal__about,
  .modal__about-text,
  .movie-card__name {
    color: var(--secondaryColor);
  }
  button {
    background-color: var(--lightThemebackgroundColor);
    // box-shadow: 0 0 15px var(--headerHoverColor);
    // border: var(--lightThemebackgroundColor);
  }
  .modal__button-close {
    background-color: var(--darkThemColor);
    fill: #e5e5e5;
  }
}

.home-footer.grey-background-theme {
  background-color: var(--darkThemColor);
  box-shadow: 0 0 15px #444444;
}

.toggle-switch {
  --dark-invers: #e5e5e5;
  --light-invers: #121213f7;
}

.switch-label {
  background-color: var(--light-invers);
  border: 1px solid #920e0e;
  
}

.checkbox:checked ~ .slider {
  background-color: var(--lightThemebackgroundColor);
}

.slider::before {
  -webkit-box-shadow: inset 12px -4px 0px 0px var(--dark-invers);
  box-shadow: inset 12px -4px 0px 0px var(--dark-invers);
  background-color: var(--light-invers);
}

.checkbox:checked ~ .slider::before {
  background-color: var(--light-invers);
}

@media screen and (prefers-color-scheme: dark) {
  body {
    background: var(--darkThemColor);
    color: var(--secondaryColor);
  }
}
