
<!-- Кнопка зміни теми День-Ніч -->

<!-- <div class="toggle-switch">
    <label class="switch-label">
      <input type="checkbox" class="checkbox">
      <span class="slider"></span>
    </label>
  </div>   -->




<!-- починай писати код тут -->


<div class="home-header_background">
  <div class="container home-header_container">

    <div class="home-header_box">
      <a class="home-header_logo-link" href="./index.html">
        <img src="./images/logo.svg" alt="logo" class="home-header_logo">
        <h1 class="home-header_title">Filmoteka</h1>   
      </a>
      <div class="home-header_box-link">
        <a  class="home-header_link open" href="./index.html">Home</a>
        <a  class="home-header_link" href="./library.html">MY Library</a>
      </div>

    </div>

    <div class="inputbox">
          
      <input type="text" required="required" id="search-box" /> 
      <span>Movie search</span>
      <i class="inputbox-inform"></i>
    </div>




  </div>
</div>