<!-- починай писати код тут -->
<link rel="stylesheet" type="text/scss" href="/src/sass/components/_switch-btn.scss">
<link rel="stylesheet" type="text/scss" href="/src/sass/components/_switch-theme.scss">
<!-- хедер домашньої сторінки -->
<header class="home-header__background">
  <div class="container home-header__container">
    <div class="home-header__box">
      <!-- логотип -->
      <a class="home-header__logo-link" href="./index.html">
        <svg class="logo__icon" width="24" height="24">
          <use href="/src/images/symbol-defs.svg#logo-icon"></use>
        </svg>
        <span class="home-header__title">Filmoteka</span>
      </a>

      <!-- навігація -->
      <nav class="navigation">
        <ul class="navigation__list">
          <li class="navigation__item">
            <a class="navigation__link nav__link--current" href="./index.html">Home</a>
          </li>
          <li class="navigation__item">
            <a class="navigation__link" href="./library.html">My library</a>
          </li>
        </ul>
      </nav>
    </div>

    <!-- пошукова форма для фільмів -->
    <form action="" id="search-box" class="search-form">
      <input class="search-form__input" type="text" autocomplete="off" placeholder="Movie search">
      <button class="search-form__btn" type="submit">
        <svg class="search-form__icon" width="12" height="12">
          <use href="/src/images/symbol-defs.svg#search-icon"></use>
        </svg>
      </button>
    </form>
    <!-- Кнопка зміни теми День-Ніч -->
    <div class="toggle-switch">
      <label class="switch-label">
        <input type="checkbox" class="checkbox" id="switcher" />
        <span class="slider"></span>
      </label>
    </div>


    <!-- текст при помилці вводу -->
    <div class="error-notification">
      <p class="error-notification__text">
        <!-- Search result not successful. Enter the correct movie name and try again. -->
      </p>
    </div>

</header>