.home-footer {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 0.8;
  line-height: 100%;
  text-align: center;
  background-color: #f7f7f7;

  @media screen and (max-width: 320px) {
    padding: 28.71px 0;
  }
  @media screen and (max-width: 768px) {
    padding: 30px 0;
  }
  @media screen and (min-width: 768px) {
    padding: 29px 0;
  }
}

.home-footer__icon {
  animation: logoPulse 2500ms linear 500ms infinite;
}

// анімація логотипу за допомогою keyframes
@keyframes logoPulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

.home-footer-reference {
  text-decoration: underline;
}
span,
.home-footer-reference {
  color: #545454;

  @media screen and (max-width: 320px) {
    font-size: 14px;
    line-height: 0.9;
  }
}
