footer.home-footer
{
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 0.8;
    line-height: 100%;
    text-align: center;
    background-color: #F7F7F7;
    @media screen and (max-width: 320px)
    {
        padding: 28.71px 0;
    }
    @media screen and (max-width: 768px)
    {
        padding: 30px 0;
    }
    @media screen and (min-width: 768px)
    {
        padding: 29px 0;
    }
}
span
{
    color: #545454;
    @media screen and (max-width: 320px)
    {
        font-size: 14px;
        line-height: 0.9;
    }
}