.home-footer
{
    font-family: 'Roboto', sans-serif;
    text-align: center;
    background-color: #F7F7F7;
}
.home-footer__container
{
    padding: 30px 0;
    @include mq(tablet)
    {
        padding: 29px 0;
    }
    @media screen and (max-width: 320px)
    {
        padding: 28.71px 0;
    }
}
.home-footer__icon
{
    margin: 0 10px;
}
.home-footer-reference
{
    text-decoration: underline;
}
.home-footer__text, .home-footer-reference
{
    color: #545454;
}
.home-footer__text
{
    font-size: 14px;
    line-height: 1.9;
    @include mq(tablet)
    {
        font-size: 16px;
        line-height: 0.8;         
    }
}