.home-header__background {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 230px;
  flex-grow: 1; /* !!! Заполняет собой всю оставшеєсе место*/
  // background-image: url(../images/Home/header-mob-2x.jpg);

  //   бекграунд для телефону
  background-image: $headerGradient, url(../images/Home/header-mob-1x.jpg);
  @include mq(retina) {
    background-image: $headerGradient, url(../images/Home/header-mob-2x.jpg);
  }

  //   бекграунд для планшета

  @include mq(tablet) {
    height: 216px;
    background-image: $headerGradient, url(../images/Home/header-tablet-1x.jpg);

    @include mq(retina) {
      background-image: $headerGradient,
        url(../images/Home/header-tablet-2x.jpg);
    }
  }

  //   бекграунд для десктопа
  @include mq(desktop) {
    background-image: $headerGradient, url(../images/Home/header-desktop-1x.jpg);

    @include mq(retina) {
      background-image: $headerGradient,
        url(../images/Home/header-desktop-2x.jpg);
    }
  }
}

.home-header__container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.home-header__box {
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 54px;

  @include mq(tablet) {
    margin-bottom: /*40*/ 15px;
  }
}

.navigation {
  display: flex;
}

.navigation__list {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
}

.navigation__link {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: calc(14 / 12);
  text-transform: uppercase;
  color: var(--secondaryColor);
  // transform: scale(1.12);

  transition: var(--timing-function);

  &:hover,
  &:focus {
    transform: scale(1.12);
    box-shadow: var(--boxShadowHeaderAccent);
  }
}

.nav__link--current {
  border-bottom: 3px solid var(--secondaryAccentColor);
}

.home-header__logo-link {
  display: flex;
  align-items: center;
  fill: var(--secondaryColor);
  color: var(--secondaryColor);
}

// логотип
.logo__icon {
  animation: logoPulse 2500ms linear 500ms infinite;
}

// анімація логотипу за допомогою keyframes
@keyframes logoPulse {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.25);
  }
  100% {
    transform: scale(1);
  }
}

.home-header__title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 500;
  font-size: 30px;
  line-height: calc(35 / 30);
  color: var(--boxShadowHeaderAccent);
  display: none;
  transition: var(--timing-function);

  @include mq(tablet) {
    margin-left: 8px;
    display: flex;
  }

  @include mq(desktop) {
    margin-left: 10px;
  }

  &:hover,
  &:focus {
    transform: scale(1.12);
  }
}

// пошукова форма для фільмів
.search-form {
  position: relative;
  display: flex;
  justify-content: center;
  width: 280px;
  margin: 0 auto;
  margin-bottom: 16px;

  @include mq(tablet) {
    margin-bottom: 20px;
    width: 336px;
  }

  @include mq(desktop) {
    width: 394px;
  }

  &__input {
    width: 100%;
    height: 20px;
    padding-bottom: 4px;
    border: none;
    border-bottom: 0.5px solid var(--secondaryColor);
    background-color: transparent;
    outline: none;

    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(16 / 14);
    color: var(--secondaryColor);
    transition: var(--timing-function);
  }

  &:hover,
  &:focus,
  &:focus-within {
    box-shadow: var(--boxShadowHeaderInput);
    transition: border-bottom 250ms var(--timing-function),
      box-shadow 250ms var(--timing-function);
  }

  // &:active {
  //   box-shadow: var(--boxShadowHeaderInput);
  // }
}

.search-form__input::placeholder {
  color: var(--secondaryColor);
}

.search-form__btn {
  position: absolute;
  right: 0;
  bottom: 0px;
  //   z-index: 30;
  width: 20px;
  height: 20px;

  border: none;
  background-color: transparent;
}

.search-form__icon {
  fill: var(--secondaryColor);
  transition: var(--timing-function);

  &:hover,
  &:focus {
    transform: scale(1.3);
  }
}

// текст при помилці вводу
.error-notification {
  display: flex;
  justify-content: center;
  text-align: start;
  height: 30px;

  &__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(16 / 14);
    color: var(--secondaryAccentColor);
  }

  @include mq(desktop) {
    height: 50px;
  }
}
