.library-header__background {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 230px;
  flex-grow: 1; /* !!! Заполняет собой всю оставшеєсе место*/
  //   бекграунд для телефону
  background-image: $headerGradient,
    url(../images/Library/header-lib-mob-1x.jpg);
  @include mq(retina) {
    background-image: $headerGradient,
      url(../images/Library/header-lib-mob-2x.jpg);
  }

  //   бекграунд для планшета
  @include mq(tablet) {
    height: 219px;
    //   бекграунд для планшета
    background-image: $headerGradient,
      url(../images/Library/header-lib-tablet-1x.jpg);
    @include mq(retina) {
      background-image: $headerGradient,
        url(../images/Library/header-lib-tablet-2x.jpg);
    }
  }

  //   бекграунд для десктопа
  @include mq(desktop) {
    height: 216px;
    background-image: url(../images/Library/header-lib-desktop-1x.jpg);
    @include mq(retina) {
      background-image: $headerGradient,
        url(../images/Library/header-lib-desktop-2x.jpg);
    }
  }
}

.library-header__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.library-header__box {
  padding-top: 40px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 60px;

  @include mq(tablet) {
    margin-bottom: 40px;
  }
}

// кнопки
.btn-container__list {
  display: flex;
  justify-content: center;
  gap: 20px;

  @include mq(tablet) {
    gap: 32px;
  }

  @include mq(desktop) {
    gap: 16px;
  }
}
