.library-bg-image {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.library-text {
  margin-top: 40px;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 18px;

  @include mq(tablet) {
    font-size: 28px;
  }
  @include mq(desktop) {
    font-size: 38px;
  }
}

.library-gallery-wrap {
  padding-top: 20px;
  padding-bottom: 40px;
  display: flex;
  flex-wrap: wrap;

  @include mq(tablet) {
    gap: 16px;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

.library-gallery {
  display: flex;
  flex-wrap: wrap;

  @include mq(tablet) {
    gap: 16px;
  }
}

.library-movie-card {
  margin-bottom: 20px;
  width: 280px;
  border-radius: 5px;

  cursor: pointer;
  transition: var(--timing-function);

  &:hover,
  &:focus {
    box-shadow: var(--box-shadow-scroll-up-btn);
  }

  @include mq(tablet) {
    width: calc((100% - 16px) / 2);

    transition: var(--timing-function);

    &:hover,
    &:focus {
      transform: scale(1.05);
    }
  }

  @include mq(desktop) {
    width: calc((100% - 32px) / 3);
  }
}

.library-movie-card__image {
  border-radius: 5px;
  width: 100%;
  height: 398px;

  @include mq(tablet) {
    height: 455px;
  }

  @include mq(desktop) {
    height: 574px;
  }
}

.library-movie-card__name {
  padding-left: 5px;
  margin-top: 10px;
  line-height: 1.17;
  text-transform: uppercase;
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 12px;

  @include mq(tablet) {
    margin-top: 8px;
    line-height: 1.3;
  }

  @include mq(desktop) {
    margin-top: 12px;
    line-height: 1.2;
    font-size: 20px;
  }
}

.library-movie-card__text {
  padding-left: 5px;
  display: flex;
  padding-bottom: 2px;

  font-weight: 500;
  line-height: 1.3;
  color: var(--mainAccentColor);
  align-items: baseline;

  @include mq(desktop) {
    font-size: 20px;
    line-height: 1.2;
  }
}

.movie-card__box {
  position: absolute;
  right: 10px;
  top: 10px;
  margin-left: 8px;
  display: flex;
  justify-content: center;
  width: 36px;
  height: 16px;

  background: var(--btnAccentColor);
  border-radius: 5px;
}

.movie-card__average {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  text-transform: uppercase;

  font-weight: 500;
  font-size: 12px;
  line-height: 1.67;

  color: var(--secondaryColor);
}
