.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 10;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;

  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.2);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  // margin-top: 20px;
  max-height: 98%;
  overflow: auto;

  z-index: 100;

  width: 280px;
  padding: 48px 20px 40px 20px;

  // background-color: var(--secondaryColor);

  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);

  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  @include mq(tablet) {
    width: 704px;
    display: flex;
  }

  @include mq(desktop) {
    width: 806px;
    padding-left: 10px;
  }
}

.modal__button-close {
  position: absolute;
  padding: 0;
  top: 8px;
  right: 8px;

  width: 30px;
  height: 30px;
  background-color: transparent;
  background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M8 8L22 22' stroke='black' stroke-width='2'/%3e%3cpath d='M8 22L22 8' stroke='black' stroke-width='2'/%3e%3c/svg%3e ");
  border-radius: 50%;
  // fill: #b70404;
  // transform: scale(1);

  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__button-close:hover,
.modal__button-close:focus {
  transform: scale(1.15);
}

.modal__icon-close {
  height: 30px;
  width: 30px;
  margin: 0;
  padding: 0;
  z-index: 1;

  // transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal__icon-close use {
  height: 30px;
  width: 30px;
  margin: 0;
  padding: 0;
  z-index: 1;
}

// cекція з додаванням через js

.modal-card-to-add {
  @include mq(tablet) {
    display: flex;
  }
}

.modal__poster-thumb {
  display: flex;
}
.modal__poster {
  margin-bottom: 20px;

  border-radius: 5px;

  @include mq(tablet) {
    margin-bottom: 0;
    margin-right: 68px;

    width: 264px;
    height: 374px;
  }

  @include mq(desktop) {
    width: 375px;
    height: auto;
    margin-right: 16px;
  }
}

.modal__info-thumb {
  @include mq(tablet) {
    width: 264px;
  }

  @include mq(desktop) {
    width: 391px;
  }
}

.modal__title {
  margin-bottom: 20px;

  font-family: 'Roboto';

  font-weight: 500;
  font-size: 20px;
  line-height: 23px;

  color: #000000;

  text-transform: uppercase;

  @include mq(desktop) {
    font-size: 30px;
  }
}

.modal__info {
  font-family: 'Roboto';

  font-weight: 500;
  font-size: 12px;
  line-height: 1.33;

  min-width: 215px;
  margin-bottom: 20px;

  color: #8c8c8c;

  @include mq(desktop) {
    min-width: 259px;
  }
}

.modal__info-entry {
  margin-bottom: 8px;
}

.modal__info-key {
  padding-right: 55px;
}

.modal__info-value {
  color: #000000;
}

.modal__info-value-vote {
  display: inline-block;
  width: 36px;
  height: 16px;

  background-color: #ff6b01;
  color: #000000;
  background-color: #f7f7f7;
  border-radius: 5px;
  padding: 1px 0;
  text-align: center;
}

.modal__info-value-vote--accent {
  color: #ffffff;
  background-color: #ff6b08;
  padding: 1px 0;
}

.modal__info-value-title {
  text-transform: uppercase;
}

.modal__about {
  color: #000;
  margin-bottom: 8px;

  font-size: 12px;
  text-transform: uppercase;
}

.modal__about-text {
  color: #000;
  margin-bottom: 20px;

  font-size: 12px;
  line-height: 1.7;
}

.modal__button-container {
  display: flex;
  align-items: center;

  @include mq(desktop) {
    padding-left: 5px;
  }
}

.modal__button {
  width: 110px;
  height: 44px;

  text-transform: uppercase;

  border-radius: 5px;

  background-color: #ffffff;
  border: 1px solid #000000;

  transform: scale(1);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1),
    transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

  font-family: 'Roboto';

  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  /* or 133% */

  // display: flex;
  // align-items: center;
  // text-align: center;
  // text-transform: uppercase;

  // // color: #ffffff;

  @include mq(tablet) {
    width: 125px;
  }

  @include mq(desktop) {
    width: 136px;
  }
}

.modal__button:hover,
.modal__button:focus {
  color: #ffffff;
  background-color: #ff6b08;
  border: 1px solid #ff6b08;

  transform: scale(1.05);
  // box-shadow: 7px -7px 21px rgba(119, 64, 24, 0.6);
}

.modal__button-watched {
  margin-right: 20px;

  @include mq(tablet) {
    margin-right: 15px;
  }
}

.modal__button-trailer-wrap {
  margin-top: 20px;

  @include mq(tablet) {
    margin-right: 15px;
  }

  @include mq(desktop) {
    padding-left: 5px;
  }
}

.modal__iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 101;
}
