.modal-students{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100vh;
    z-index: 99998;
    background-color: rgba(0, 0, 0, .3);

    display: grid;
    align-items: center;
    justify-items: center;

    overflow: auto;
}

.modal-students.is-hidden {
    opacity: 0;
    pointer-events: none;
}

.modal-students-box{
    position: relative;

    max-width: 1000px;
    padding: 35px;
    background-color: #fff;
    z-index: 1;
}

.modal-students-container{
    padding: 30px;
    background-color: #D3D3D3;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
    border-radius: 0px 0px 4px 4px;
}

// .modal-students-container-odd{
//     padding: 30px;
//         background-color: #fff;
// }

.modal-students-title{
    margin-bottom: 35px;
    
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 20px;
    line-height: 23px;
    color: #000000;
    
    text-transform: uppercase;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.modal-student-name{
    font-family: 'Roboto';
    
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    color: #000000;
    text-transform: uppercase;
    text-align: center;

    margin-top: 10px;
    margin-bottom: 4px;
    
}

.modal-student-occupation{
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 12px;
    line-height: 1.33;
    color: var(--mainAccentColor);

    text-align: center;
    margin-bottom: 4px;
}

.modal-students-list{
    gap: 20px;
    flex-flow: wrap;
        justify-content: center;
        align-items: center;
        margin: -15px;
        display: flex;
    
}

.modal-student-img{
        width: 120px;
}

.modal-student-soc-list{
    display: flex;
    justify-content: center;
    gap: 10px;
}

.modal-students-list{
    display: block;
    display: flex;
    flex-wrap: wrap;
}


.modal-student-img{
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    }



.modal-students-close-btn{
    position: absolute;
    right: 8px;
    top: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    
    width: 30px;
    height: 30px;
    padding: 0;
    border: 1px solid #0000001A;
    border-radius: 50%;
    
    cursor: pointer;
background-color: transparent;
    background-image: url("data:image/svg+xml;charset=UTF-8,%3csvg width='30' height='30' viewBox='0 0 30 30' fill='none' xmlns='http://www.w3.org/2000/svg'%3e%3cpath d='M8 8L22 22' stroke='black' stroke-width='2'/%3e%3cpath d='M8 22L22 8' stroke='black' stroke-width='2'/%3e%3c/svg%3e ");
}
